<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LayoutID</key>
	<integer>28</integer>
	<key>PathMapRef</key>
	<array>
		<dict>
			<key>CodecID</key>
			<array>
				<integer>283902610</integer>
			</array>
			<key>Headphone</key>
			<dict/>
			<key>Inputs</key>
			<array>
				<string>Mic</string>
				<string>LineIn</string>
			</array>
			<key>IntSpeaker</key>
			<dict>
				<key>AmpPostDelay</key>
				<integer>100</integer>
				<key>AmpPreDelay</key>
				<integer>50</integer>
				<key>MaximumBootBeepValue</key>
				<integer>111</integer>
				<key>MuteGPIO</key>
				<integer>0</integer>
				<key>SignalProcessing</key>
				<dict>
					<key>SoftwareDSP</key>
					<dict>
						<key>DspFunction0</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>0</integer>
								<key>DspFuncName</key>
								<string>DspEqualization</string>
								<key>DspFuncProcessingIndex</key>
								<integer>0</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Filter</key>
								<array>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>0</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>1</integer>
										<key>6</key>
										<integer>1114576025</integer>
										<key>7</key>
										<integer>1064665625</integer>
										<key>8</key>
										<integer>1072987140</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>1</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1129087081</integer>
										<key>7</key>
										<integer>1057153419</integer>
										<key>8</key>
										<integer>-1064253071</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>2</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1150632040</integer>
										<key>7</key>
										<integer>1064828996</integer>
										<key>8</key>
										<integer>-1063118189</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>3</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1120797832</integer>
										<key>7</key>
										<integer>1067405827</integer>
										<key>8</key>
										<integer>-1086022746</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>5</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>4</integer>
										<key>6</key>
										<integer>1162201525</integer>
										<key>7</key>
										<integer>1064584418</integer>
										<key>8</key>
										<integer>-1064163137</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>9</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>6</integer>
										<key>6</key>
										<integer>1171964576</integer>
										<key>7</key>
										<integer>1103101952</integer>
										<key>8</key>
										<integer>-1082405468</integer>
									</dict>
									<dict>
										<key>2</key>
										<integer>2</integer>
										<key>3</key>
										<integer>15</integer>
										<key>4</key>
										<integer>0</integer>
										<key>5</key>
										<integer>0</integer>
										<key>6</key>
										<integer>1182148960</integer>
										<key>7</key>
										<integer>1060439283</integer>
										<key>8</key>
										<integer>-1057545135</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict/>
						</dict>
						<key>DspFunction1</key>
						<dict>
							<key>FunctionInfo</key>
							<dict>
								<key>DspFuncInstance</key>
								<integer>1</integer>
								<key>DspFuncName</key>
								<string>DspMultibandDRC</string>
								<key>DspFuncProcessingIndex</key>
								<integer>1</integer>
							</dict>
							<key>ParameterInfo</key>
							<dict>
								<key>1</key>
								<integer>0</integer>
								<key>Crossover</key>
								<dict>
									<key>4</key>
									<integer>2</integer>
									<key>5</key>
									<integer>0</integer>
									<key>6</key>
									<integer>1134134043</integer>
								</dict>
								<key>Limiter</key>
								<array>
									<dict>
										<key>10</key>
										<integer>-1052696286</integer>
										<key>11</key>
										<integer>1094281578</integer>
										<key>12</key>
										<integer>-1046232124</integer>
										<key>13</key>
										<integer>1066734869</integer>
										<key>14</key>
										<integer>-1027604480</integer>
										<key>15</key>
										<integer>1065353216</integer>
										<key>16</key>
										<integer>1065797319</integer>
										<key>17</key>
										<integer>1077590715</integer>
										<key>18</key>
										<integer>1109131264</integer>
										<key>19</key>
										<integer>1100508269</integer>
										<key>2</key>
										<integer>1</integer>
										<key>20</key>
										<integer>1126787434</integer>
										<key>21</key>
										<integer>0</integer>
										<key>22</key>
										<integer>0</integer>
										<key>23</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>7</key>
										<integer>0</integer>
										<key>8</key>
										<integer>0</integer>
										<key>9</key>
										<integer>-1065550595</integer>
									</dict>
									<dict>
										<key>10</key>
										<integer>-1052696286</integer>
										<key>11</key>
										<integer>1092708713</integer>
										<key>12</key>
										<integer>-1048452638</integer>
										<key>13</key>
										<integer>1068313901</integer>
										<key>14</key>
										<integer>-1028418668</integer>
										<key>15</key>
										<integer>1065353216</integer>
										<key>16</key>
										<integer>1066685524</integer>
										<key>17</key>
										<integer>1077590715</integer>
										<key>18</key>
										<integer>1128792064</integer>
										<key>19</key>
										<integer>1101004800</integer>
										<key>2</key>
										<integer>2</integer>
										<key>20</key>
										<integer>1137180672</integer>
										<key>21</key>
										<integer>0</integer>
										<key>22</key>
										<integer>0</integer>
										<key>23</key>
										<integer>1</integer>
										<key>3</key>
										<integer>0</integer>
										<key>7</key>
										<integer>0</integer>
										<key>8</key>
										<integer>0</integer>
										<key>9</key>
										<integer>-1101473576</integer>
									</dict>
								</array>
							</dict>
							<key>PatchbayInfo</key>
							<dict>
								<key>InputPort0</key>
								<dict>
									<key>PortInstance</key>
									<integer>0</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>0</integer>
								</dict>
								<key>InputPort1</key>
								<dict>
									<key>PortInstance</key>
									<integer>1</integer>
									<key>PortWidth</key>
									<integer>1</integer>
									<key>SourceFuncInstance</key>
									<integer>0</integer>
									<key>SourcePortIndex</key>
									<integer>1</integer>
								</dict>
							</dict>
						</dict>
					</dict>
				</dict>
			</dict>
			<key>LineIn</key>
			<dict>
				<key>MuteGPIO</key>
				<integer>1342242854</integer>
			</dict>
			<key>Mic</key>
			<dict/>
			<key>Outputs</key>
			<array>
				<string>Headphone</string>
				<string>IntSpeaker</string>
			</array>
			<key>PathMapID</key>
			<integer>3232</integer>
		</dict>
	</array>
</dict>
</plist>
